{% extends "base.html" %}
{% import 'forms.html' as forms %}

{% block head_js %}
<script type="text/javascript" src="/css/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/css/jquery.tagto.js"></script>

<script type="text/javascript">
  (function($){
  $(document).ready(function(){
  $("#from").tagTo("#to");
  });    
  })(jQuery);
</script>

{% endblock %}

{% block content %}
<h3>Add faculty:</h3>
<p>
<form method='POST'>
First name: {{ forms.input('first_name', size=30) }}<p>
Last name: {{ forms.input('last_name', size=30) }}<p>
Lab web page: {{ forms.input('url', size=30) }}<p>
Tags (comma-separated): {{ forms.input('tags', size=30) }}
<p>
BEACON research blurb:
<br>
{{ forms.textarea('blurb', rows=10, cols=40) }}
<p align='center'>
{{ forms.submit('add') }}

<div>
    <input type="text" id="to" name="to">
</div>

<strong>Tags:</strong>
<div id="from">
    <a href="#">Tag1</a> <a href="#">Tag2</a> <a href="#">Tag3</a> <a href="#">Tag4</a>
</div>

</form>
</center>
{% endblock %}
